*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: url(/neom-efzvMAIpfWY-unsplash.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.registration-form{
    backdrop-filter: blur(60px);
    padding: 1cm;
    height: 10cm;
    width: 6cm;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(40, 53, 72);

}